* text=auto

*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.qss text eol=lf
*.bat text eol=crlf
*.iss text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.dcm binary
*.pt binary
*.pth binary
*.ckpt binary
*.db binary
*.sqlite binary
*.zip binary
*.exe binary
